* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: url('fondocrud.JPG') no-repeat center center fixed;
  background-size: cover;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.main-content {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.panel {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  padding: 40px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.panel h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #ffffff;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.button-container button {
  width: 100%;
  padding: 14px;
  background-color: white;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  
  justify-content:flex-start;
}

.button-container button:hover {
  background-color: #ddd;
}

.icono-btn {
  margin-right: 15px;
}

a {
  text-decoration: none;
}

.footer {
  background: none;
  box-shadow: none;
  padding: 0;
  color: white;
  font-size: 14px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  width: 100%;
  pointer-events: none;
}
