* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #065f73;
    color: #000;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #025763; /* azul oscuro como en la imagen */
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
  
  main {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
  }
  
  .form-container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .flex {
    display: flex;
    gap: 10px;
  }
  
  .input-group {
    flex: 1;
  }
  
  button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #035b68;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .volver {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #2a2db2;
    font-weight: bold;
    text-decoration: none;
  }
  
  footer {
    background-color: #065f73;
    text-align: center;
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  #rut-num {
    flex: 1;
  }
  
  #rut-dv {
    text-align: center;
  }